In [1]:
!pip install pyaxis

Collecting pyaxis
  Downloading pyaxis-0.3.1.tar.gz (32 kB)
Requirement already satisfied: numpy in /opt/conda/lib/python3.8/site-packages (from pyaxis) (1.19.4)
Requirement already satisfied: requests in /opt/conda/lib/python3.8/site-packages (from pyaxis) (2.24.0)
Requirement already satisfied: pandas in /opt/conda/lib/python3.8/site-packages (from pyaxis) (1.1.4)
Requirement already satisfied: certifi>=2017.4.17 in /opt/conda/lib/python3.8/site-packages (from requests->pyaxis) (2020.6.20)
Requirement already satisfied: chardet<4,>=3.0.2 in /opt/conda/lib/python3.8/site-packages (from requests->pyaxis) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /opt/conda/lib/python3.8/site-packages (from requests->pyaxis) (1.25.11)
Requirement already satisfied: idna<3,>=2.5 in /opt/conda/lib/python3.8/site-packages (from requests->pyaxis) (2.10)
Requirement already satisfied: python-dateutil>=2.7.3 in /opt/conda/lib/python3.8/site-packages (from pandas->pyaxis) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /opt/conda/lib/python3.8/site-packages (from pandas->pyaxis) (2020.4)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.8/site-packages (from python-dateutil>=2.7.3->pandas->pyaxis) (1.15.0)
Building wheels for collected packages: pyaxis
  Building wheel for pyaxis (setup.py) ... done
  Created wheel for pyaxis: filename=pyaxis-0.3.1-py3-none-any.whl size=9313 sha256=77c12cb73f817d65e995ac4a46235072fea5322a65e5ec64d45c672dd3ade585
  Stored in directory: /home/jovyan/.cache/pip/wheels/af/b3/87/f142b88e67ae4b4ba443683c50e091b047cf10571a81188682
Successfully built pyaxis
Installing collected packages: pyaxis
Successfully installed pyaxis-0.3.1

In [2]:
import pandas as pd
from pyaxis import pyaxis

Read in raw data from CSO (in PX format)

In [3]:
url = 'https://statbank.cso.ie/px/pxeirestat/Database/eirestat/Profile%201%20-%20Housing%20in%20Ireland/E1005.px'
px = pyaxis.parse(url, encoding='ISO-8859-2')
px

{'METADATA': {'CHARSET': ['ANSI'],
  'AXIS-VERSION': ['2000'],
  'LANGUAGE': ['en'],
  'CREATION-DATE': ['20170712 12:54'],
  'DECIMALS': [],
  'SHOWDECIMALS': [],
  'MATRIX': ['E1005'],
  'SUBJECT-AREA': [],
  'SUBJECT-CODE': ['DB'],
  'TITLE': ['Private Households in Permanent Housing Units 2011 to 2016 (Number) by',
   'County and City, CensusYear, Type of Private Accommodation and Period',
   'in which Built'],
  'CONTENTS': ['Private Households in Permanent Housing Units 2011 to 2016 (Number)'],
  'UNITS': ['Number'],
  'STUB': ['County and City'],
  'HEADING': ['CensusYear',
   'Type of Private Accommodation',
   'Period in which Built'],
  'VALUES(County and City)': ['State',
   'Carlow',
   'Dublin City',
   'DÃºn Laoghaire-Rathdown',
   'Fingal',
   'South Dublin',
   'Kildare',
   'Kilkenny',
   'Laois',
   'Longford',
   'Louth',
   'Meath',
   'Offaly',
   'Westmeath',
   'Wexford',
   'Wicklow',
   'Clare',
   'Cork City',
   'Cork County',
   'Kerry',
   'Limerick City and County',
   'Tipperary',
   'Waterford City and County',
   'Galway City',
   'Galway County',
   'Leitrim',
   'Mayo',
   'Roscommon',
   'Sligo',
   'Cavan',
   'Donegal',
   'Monaghan'],
  'VALUES(CensusYear)': ['2011', '2016'],
  'VALUES(Type of Private Accommodation)': ['All households',
   'Detached house',
   'Semi- detached house',
   'Terraced house',
   'Flat or apartment in a purpose- built block',
   'Flat or apartment in a converted house or commercial building',
   'Bed-sit',
   'Not stated'],
  'VALUES(Period in which Built)': ['All years',
   'Before 1919',
   '1919 to 1945',
   '1946 to 1960',
   '1961 to 1970',
   '1971 to 1980',
   '1981 to 1990',
   '1991 to 2000',
   '2001 to 2010',
   '2011 or later',
   'Not stated'],
  'CODES(County and City)': ['IE',
   'CW',
   'DC',
   'DR',
   'FL',
   'SD',
   'KE',
   'KK',
   'LS',
   'LD',
   'LH',
   'MH',
   'OY',
   'WH',
   'WX',
   'WW',
   'CE',
   'CC',
   'CK',
   'KY',
   'LK',
   'TY',
   'WD',
   'GC',
   'GY',
   'LM',
   'MO',
   'RN',
   'SO',
   'CN',
   'DL',
   'MN'],
  'CODES(Type of Private Accommodation)': ['-',
   '12',
   '13',
   '14',
   '16',
   '17',
   '18',
   '4'],
  'CODES(Period in which Built)': ['-',
   '191901',
   '1919345',
   '1946346',
   '1961369',
   '1971379',
   '1981389',
   '1991399',
   '2001310',
   '201101',
   '9998'],
  'DOMAIN(County and City)': ['C03367V04052'],
  'DOMAIN(Type of Private Accommodation)': ['C02010V02440'],
  'DOMAIN(Period in which Built)': ['C01936V02368'],
  'LAST-UPDATED': ['20170712 12:53'],
  'SOURCE': ['Central Statistics Office, Ireland'],
  'CONTACT': ['Census Enquiries, CSO#Tel: 01 8951460#Fax: 01 8951399#E-mail: census@cso.ie'],
  'DATABASE': ['CSO Databank'],
  'REFPERIOD': [' '],
  'BASEPERIOD': [' '],
  'INFOFILE': ['DB_E1']},
 'DATA':      County and City CensusYear Type of Private Accommodation  \
 0              State       2011                All households
 1              State       2011                All households
 2              State       2011                All households
 3              State       2011                All households
 4              State       2011                All households
 ...              ...        ...                           ...
 5627        Monaghan       2016                    Not stated
 5628        Monaghan       2016                    Not stated
 5629        Monaghan       2016                    Not stated
 5630        Monaghan       2016                    Not stated
 5631        Monaghan       2016                    Not stated

      Period in which Built     DATA
 0                All years  1649408
 1              Before 1919   149939
 2             1919 to 1945   114817
 3             1946 to 1960   127691
 4             1961 to 1970   114510
 ...                    ...      ...
 5627          1981 to 1990       23
 5628          1991 to 2000       15
 5629          2001 to 2010       43
 5630         2011 or later        2
 5631            Not stated      159

 [5632 rows x 5 columns]}

In [4]:
data = px['DATA']
data

,County and City,CensusYear,Type of Private Accommodation,Period in which Built,DATA
0,State,2011,All households,All years,1649408
1,State,2011,All households,Before 1919,149939
2,State,2011,All households,1919 to 1945,114817
3,State,2011,All households,1946 to 1960,127691
4,State,2011,All households,1961 to 1970,114510
...,...,...,...,...,...
5627,Monaghan,2016,Not stated,1981 to 1990,23
5628,Monaghan,2016,Not stated,1991 to 2000,15
5629,Monaghan,2016,Not stated,2001 to 2010,43
5630,Monaghan,2016,Not stated,2011 or later,2
5631,Monaghan,2016,Not stated,Not stated,159

In [5]:
data['Type of Private Accommodation'].unique()

array(['All households', 'Detached house', 'Semi- detached house',
       'Terraced house', 'Flat or apartment in a purpose- built block',
       'Flat or apartment in a converted house or commercial building',
       'Bed-sit', 'Not stated'], dtype=object)

In [6]:
data['CensusYear'].unique()

array(['2011', '2016'], dtype=object)

In [7]:
filtered = data[(data['CensusYear'] == '2016') & (data['Type of Private Accommodation'] == 'All households') & ~(data['County and City'] == 'State')].copy()
filtered.drop(columns=['CensusYear', 'Type of Private Accommodation'], inplace=True)
filtered.rename(columns={'County and City': 'County', 'Period in which Built': 'Age_Band'}, inplace=True)
filtered

        County       Age_Band   DATA
264     Carlow      All years  20465
265     Carlow    Before 1919   1998
266     Carlow   1919 to 1945   1223
267     Carlow   1946 to 1960   1292
268     Carlow   1961 to 1970   1125
...        ...            ...    ...
5550  Monaghan   1981 to 1990   2292
5551  Monaghan   1991 to 2000   2680
5552  Monaghan   2001 to 2010   5831
5553  Monaghan  2011 or later    514
5554  Monaghan     Not stated   1068

[341 rows x 3 columns]

In [8]:
ages_by_county = filtered.pivot_table(index=['County'], columns='Age_Band', values='DATA', aggfunc=lambda x: pd.to_numeric(x))
ages_by_county

INFO:numexpr.utils:NumExpr defaulting to 8 threads.

Age_Band,1919 to 1945,1946 to 1960,1961 to 1970,1971 to 1980,1981 to 1990,1991 to 2000,2001 to 2010,2011 or later,All years,Before 1919,Not stated
County,,,,,,,,,,,
Carlow,1223,1292,1125,2143,1887,3071,5896,418,20465,1998,1412
Cavan,1533,1702,1184,2361,2449,3547,9538,559,26806,2589,1344
Clare,2401,2374,3123,5679,4812,6712,11406,865,43348,3690,2286
Cork City,4970,7359,6028,5565,4106,3731,5718,541,49370,5883,5469
Cork County,7871,6636,6929,17758,14387,22659,42525,3595,146052,16330,7362
Donegal,2544,2710,2970,7019,7202,9370,17889,1251,58305,4693,2657
Dublin City,26428,31673,18657,17870,13346,18298,28154,2538,211591,27370,27257
DÃºn Laoghaire-Rathdown,4932,10735,10925,10850,8763,8107,13064,1838,78568,4835,4519
Fingal,1699,2316,5773,15301,11390,16535,31703,2510,96607,2089,7291
Galway City,967,1251,2063,3392,3709,5624,7354,328,28827,590,3549
Galway County,4011,3831,3063,7172,6642,9528,20110,1523,62729,4248,2601
Kerry,3487,3719,3324,7161,6484,7903,14185,1049,54288,4027,2949
Kildare,2410,3127,3739,9928,8220,14904,22334,1739,73348,2938,4009
Kilkenny,2087,2250,1782,4270,3555,4753,9858,713,34743,4036,1439
Laois,1392,1411,1292,2792,2538,3879,10702,729,28997,2742,1520
Leitrim,897,709,465,1058,1197,1447,4336,209,12404,1573,513
Limerick City and County,5279,5545,5513,8768,7508,10241,16068,1162,71022,6043,4895
Longford,817,846,787,1656,1480,1873,5084,262,15092,1328,959
Louth,3091,3230,3393,6255,3765,6876,11645,908,45363,3195,3005
Mayo,4345,3490,2267,5799,6036,7511,13090,1060,48745,3172,1975
Meath,2813,2744,3143,8199,5426,10524,22515,1537,63861,3801,3159
Monaghan,1540,1245,1165,3040,2292,2680,5831,514,21612,2237,1068
Offaly,2100,2076,1586,3137,2472,3693,7770,473,27184,2362,1515
Roscommon,1890,1823,1215,2424,2454,3017,7458,428,23962,2263,990
Sligo,1981,1591,1281,2848,2823,3623,6622,483,24761,2095,1414
South Dublin,1380,5740,9516,22115,12411,15386,17288,1622,92393,752,6183
Tipperary,4826,4352,3702,7019,5593,7783,14649,1021,59071,7035,3091
Waterford City and County,2657,2845,2841,5406,4785,6424,10518,740,43455,4531,2708
Westmeath,1812,2222,1759,3639,2967,4923,9216,561,31685,2599,1987
Wexford,3157,2610,2531,5480,4839,8925,17414,1191,54006,5474,2385
Wicklow,3128,2653,2900,7369,5506,7264,11823,1069,49005,4682,2611

In [9]:
rename_age_bands = lambda x: x.replace(' to ', '-').replace('Before ', '0-').replace(' or later', '-2016').replace('Not stated', 'Unknown')
ages_by_county.rename(rename_age_bands, axis=1, inplace=True)
ages_by_county.drop(columns=['All years'], inplace=True)
ages_by_county.sort_index(axis=1, inplace=True)
ages_by_county

Age_Band,0-1919,1919-1945,1946-1960,1961-1970,1971-1980,1981-1990,1991-2000,2001-2010,2011-2016,Unknown
County,,,,,,,,,,
Carlow,1998,1223,1292,1125,2143,1887,3071,5896,418,1412
Cavan,2589,1533,1702,1184,2361,2449,3547,9538,559,1344
Clare,3690,2401,2374,3123,5679,4812,6712,11406,865,2286
Cork City,5883,4970,7359,6028,5565,4106,3731,5718,541,5469
Cork County,16330,7871,6636,6929,17758,14387,22659,42525,3595,7362
Donegal,4693,2544,2710,2970,7019,7202,9370,17889,1251,2657
Dublin City,27370,26428,31673,18657,17870,13346,18298,28154,2538,27257
DÃºn Laoghaire-Rathdown,4835,4932,10735,10925,10850,8763,8107,13064,1838,4519
Fingal,2089,1699,2316,5773,15301,11390,16535,31703,2510,7291
Galway City,590,967,1251,2063,3392,3709,5624,7354,328,3549
Galway County,4248,4011,3831,3063,7172,6642,9528,20110,1523,2601
Kerry,4027,3487,3719,3324,7161,6484,7903,14185,1049,2949
Kildare,2938,2410,3127,3739,9928,8220,14904,22334,1739,4009
Kilkenny,4036,2087,2250,1782,4270,3555,4753,9858,713,1439
Laois,2742,1392,1411,1292,2792,2538,3879,10702,729,1520
Leitrim,1573,897,709,465,1058,1197,1447,4336,209,513
Limerick City and County,6043,5279,5545,5513,8768,7508,10241,16068,1162,4895
Longford,1328,817,846,787,1656,1480,1873,5084,262,959
Louth,3195,3091,3230,3393,6255,3765,6876,11645,908,3005
Mayo,3172,4345,3490,2267,5799,6036,7511,13090,1060,1975
Meath,3801,2813,2744,3143,8199,5426,10524,22515,1537,3159
Monaghan,2237,1540,1245,1165,3040,2292,2680,5831,514,1068
Offaly,2362,2100,2076,1586,3137,2472,3693,7770,473,1515
Roscommon,2263,1890,1823,1215,2424,2454,3017,7458,428,990
Sligo,2095,1981,1591,1281,2848,2823,3623,6622,483,1414
South Dublin,752,1380,5740,9516,22115,12411,15386,17288,1622,6183
Tipperary,7035,4826,4352,3702,7019,5593,7783,14649,1021,3091
Waterford City and County,4531,2657,2845,2841,5406,4785,6424,10518,740,2708
Westmeath,2599,1812,2222,1759,3639,2967,4923,9216,561,1987
Wexford,5474,3157,2610,2531,5480,4839,8925,17414,1191,2385
Wicklow,4682,3128,2653,2900,7369,5506,7264,11823,1069,2611

In [10]:
ages_by_county[['TOTAL', 'MODE_BAND']] = ages_by_county.agg(['sum', pd.Series.idxmax], axis=1)
ages_by_county

Age_Band,0-1919,1919-1945,1946-1960,1961-1970,1971-1980,1981-1990,1991-2000,2001-2010,2011-2016,Unknown,TOTAL,MODE_BAND
County,,,,,,,,,,,,
Carlow,1998,1223,1292,1125,2143,1887,3071,5896,418,1412,20465,2001-2010
Cavan,2589,1533,1702,1184,2361,2449,3547,9538,559,1344,26806,2001-2010
Clare,3690,2401,2374,3123,5679,4812,6712,11406,865,2286,43348,2001-2010
Cork City,5883,4970,7359,6028,5565,4106,3731,5718,541,5469,49370,1946-1960
Cork County,16330,7871,6636,6929,17758,14387,22659,42525,3595,7362,146052,2001-2010
Donegal,4693,2544,2710,2970,7019,7202,9370,17889,1251,2657,58305,2001-2010
Dublin City,27370,26428,31673,18657,17870,13346,18298,28154,2538,27257,211591,1946-1960
DÃºn Laoghaire-Rathdown,4835,4932,10735,10925,10850,8763,8107,13064,1838,4519,78568,2001-2010
Fingal,2089,1699,2316,5773,15301,11390,16535,31703,2510,7291,96607,2001-2010
Galway City,590,967,1251,2063,3392,3709,5624,7354,328,3549,28827,2001-2010
Galway County,4248,4011,3831,3063,7172,6642,9528,20110,1523,2601,62729,2001-2010
Kerry,4027,3487,3719,3324,7161,6484,7903,14185,1049,2949,54288,2001-2010
Kildare,2938,2410,3127,3739,9928,8220,14904,22334,1739,4009,73348,2001-2010
Kilkenny,4036,2087,2250,1782,4270,3555,4753,9858,713,1439,34743,2001-2010
Laois,2742,1392,1411,1292,2792,2538,3879,10702,729,1520,28997,2001-2010
Leitrim,1573,897,709,465,1058,1197,1447,4336,209,513,12404,2001-2010
Limerick City and County,6043,5279,5545,5513,8768,7508,10241,16068,1162,4895,71022,2001-2010
Longford,1328,817,846,787,1656,1480,1873,5084,262,959,15092,2001-2010
Louth,3195,3091,3230,3393,6255,3765,6876,11645,908,3005,45363,2001-2010
Mayo,3172,4345,3490,2267,5799,6036,7511,13090,1060,1975,48745,2001-2010
Meath,3801,2813,2744,3143,8199,5426,10524,22515,1537,3159,63861,2001-2010
Monaghan,2237,1540,1245,1165,3040,2292,2680,5831,514,1068,21612,2001-2010
Offaly,2362,2100,2076,1586,3137,2472,3693,7770,473,1515,27184,2001-2010
Roscommon,2263,1890,1823,1215,2424,2454,3017,7458,428,990,23962,2001-2010
Sligo,2095,1981,1591,1281,2848,2823,3623,6622,483,1414,24761,2001-2010
South Dublin,752,1380,5740,9516,22115,12411,15386,17288,1622,6183,92393,1971-1980
Tipperary,7035,4826,4352,3702,7019,5593,7783,14649,1021,3091,59071,2001-2010
Waterford City and County,4531,2657,2845,2841,5406,4785,6424,10518,740,2708,43455,2001-2010
Westmeath,2599,1812,2222,1759,3639,2967,4923,9216,561,1987,31685,2001-2010
Wexford,5474,3157,2610,2531,5480,4839,8925,17414,1191,2385,54006,2001-2010
Wicklow,4682,3128,2653,2900,7369,5506,7264,11823,1069,2611,49005,2001-2010

In [11]:
ages_by_county.to_csv('output/ROI-Property-Ages-2016.csv', index_label='County')